.CommentStub {
  font-size: 16px;
}

.CommentStub-login {
  color: #0087e9;
  text-decoration: underline;
  cursor: pointer;
}

.CommentStub-cancel {
  color: #666666;
  text-decoration: underline;
  cursor: pointer;
}
